#deals_inner
	.clear
	.divisor
	.column1
		.deals_image
		.explanation_text.deals_info
			Mightbuy is our popular 
			= link_to "app for Facebook, Twitter, and Mobile", "https://www.mightbuy.it/",  {:target => "_blank"}
			that customers use for tracking anything they Might Buy, from any website, like bookmarks.  Users typically post on Facebook  and Twitter items they are discussing, and get feedback from friends.
		%br	   
		.explanation_text.underline.deals_info
			It is a fun and social way to shop.  	
	.column2.dels_column2
		.deals_iphone 	
	.clear
	.deals_middle
	.deals_costumer
		%ul.explanation_header
			%li.explanation_header.inner
				Get customers talking about you! 
			.explanation_text
				Customers publish your products to 
				their own social networks.  
			%li.explanation_header.inner
				Drive sales!  
			.explanation_text
				Your customers are telling you 
				what they want – close the deal!
	.deals_constumer_image			 
	.clear
	%br
	.deal_column
		.title
			Add New Products
		.new_product	
	.deal_column
		.title
			Create Custom Deals
		.custom_deals	
	.clear
	%br
	%br
	.width70.title		
		Your business can use MightBuy TODAY to get customers talking 
		and generate more sales with these easy options: 
	%br
	%br	
	.deal_column
		.deals_screenshot
		.deals_social.png
	.deal_column
		%br	
		%ul.explanation_header
			%li.explanation_header.inner
				Sign Up!
		.explanation_text
			%br	
			%br		
			.black_title	
				We’ll do all the hard work! 
			%br	
			No code at all: 
			%br
			Just specify the products you want to 
			generate deals from within MightBuy, by 
			listing the URL. Then, when customers add 
			that item to MightBuy, the deal you 
			specified will surprise and delight them.

		.explanation_text
			%br	
			.black_title	
				Make sales on products your customers want 
			%br			
			track invaluable information on what your
			customers what to buy. Next, simply create
			custom deals that you know are in demand.
 

		.explanation_text	
			%br	
			.black_title
				Customers share your products with friends 
			%br				
			With MightBuy, your customers are advertising 
			for you.  Every they ask their friends about 
			your products, it is a  powerful endorsement, much
			better than showing up in Google results. 
			%br
			%br

 
 
 
	.clear	
	.half_moon_divisor
	%br
	%br
	.deals_setup
		= link_to "","#business", :class=>"login_bottom"
	.clear

